<div class="card">
    <div class="card-header text-center">
        <h4>Devoured</h4>
    </div>
    <div class="card-body">

        {{#each devouredList}}
            <div>{{id}}.) {{burger_name}}</div>
        {{/each }}

    </div>
</div>