<div class="card">
    <div class="card-header">
        New Burgers
    </div>
    <div class="card-body">

        {{#each burgers}}
            <div>
                <p>{{id}} {{burger_name}}
                    <button class="btn btn-sm btn-outline-secondary m-1">Devour</button>
                </p>
            </div>

        {{/each }}

    </div>
</div>