<div class="card">
    <div class="card-header">
        New Burgers
    </div>
    <div class="card-body">

        {{#each burgers}}
            <div>{{id}} {{burger_name}}</div>
        {{/each }}

    </div>
</div>