<nav class="navbar bg-dark">
    <img src="/assets/img/logo.png" height="80" class="d-inline-block align-top mx-auto" alt="">
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {{> uneaten-burger }}
        </div>
        <div class="col">
            {{> burger-list }}
        </div>
    </div>
    <div class="row">
        <div class="col text-centered">
            <form action="">
                <input type="text" id="burgerName" placeholder="Enter a burger name"/>
                <button type="submit" id="addBurger">Add</button>
            </form>

        </div>
    </div>
</div>