<nav class="navbar bg-dark">
    <img src="/assets/img/logo.png" height="80" class="d-inline-block align-top mx-auto" alt="">
</nav>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {{> uneaten-burger }}
        </div>
        <div class="col">
            {{> burger-list }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addBurger">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>